* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: white;
  background-color: #5995da;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;
  width: 80%;

  justify-content: space-between;
}

.links a {
  color: white;
  text-decoration: none;
}

.links a:hover {
  color: yellow;
}

.login {
  margin-left: 20px;
}

.header-container {
  background-color: #d6e9fe;
  color: black;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  width: 1200px;
  height: 300px;
  justify-content: space-around;
  align-items: center;
}

header a {
  text-decoration: none;
  color: #5995da;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-grid-item {
  width: 300px;
  height: 300px;
}