.flex-container {
  border: 2px solid black;
  display: flex;
  font-size: 20px;
  text-align: center;
  flex-flow: row;
  justify-content: flex-start;
}

.box {
  background-color: green;
  border: 2px solid black;
  padding: 0 10px;
  border-radius: 5px;
  flex: 1;
}

.sub-box {
  background-color: #ffffff;
  padding: 45px 45px;
  margin: 2px;
  align-self: stretch;
}

.sub-container {
  flex-flow: column;
  height: 500px;
}
